<ion-view title="Camera Stream" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.garageStream" id="cameraStream-button5" class=" button button-positive  button-block ">Garage</a>
        <a ui-sref="tabsController.yardStream" id="cameraStream-button6" class=" button button-positive  button-block ">Yard</a>
        <a ui-sref="tabsController.frontStream" id="cameraStream-button7" class=" button button-positive  button-block ">Front</a>
    </ion-content>
</ion-view>