<ion-view title="Configure" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.garageStream" id="configure-button8" class=" button button-positive  button-block ">Garage</a>
        <a ui-sref="tabsController.yardStream" id="configure-button9" class=" button button-positive  button-block ">Yard</a>
        <a ui-sref="tabsController.frontStream" id="configure-button10" class=" button button-positive  button-block ">Front</a>
    </ion-content>
</ion-view>