<ion-view title="Front" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="front-form3" class="list ">
            <ion-list id="front-list3" class=" ">
                <label class="item item-input " id="front-input5">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="front-input6">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.frontStream" id="front-button4" class=" button button-stable  button-block ">Connect</a>
        </form>
    </ion-content>
</ion-view>