<ion-view title="Garage" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="garage-form1" class="list ">
            <ion-list id="garage-list1" class=" ">
                <label class="item item-input " id="garage-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="garage-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.garageStream" id="garage-button1" class=" button button-stable  button-block ">Connect</a>
        </form>
    </ion-content>
</ion-view>