<ion-view title="Yard" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="yard-form2" class="list ">
            <ion-list id="yard-list2" class=" ">
                <label class="item item-input " id="yard-input3">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="yard-input4">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.yardStream" id="yard-button3" class=" button button-stable  button-block ">Connect</a>
        </form>
    </ion-content>
</ion-view>